services:
  backend:
    build: 
      context: ..
      dockerfile: ./docker-local-starwars/dockerfile.backend
    volumes:
      - ../src/api:/app/src/api
      - ../src/app.py:/app/src/app.py
      - ../src/wsgi.py:/app/src/wsgi.py
      - ../tests/:/app/tests/
    ports:
      - 3001:3001    
    env_file:
      - ../.env
    networks:
      - app-network
    command: >
      bash -c "
      ./database.sh &&
      pipenv run start
      "

  
  frontend:
    build: 
      context: ..
      dockerfile: ./docker-local-starwars/dockerfile.frontend
    ports:
      - 3000:3000
    env_file:
      - ../.env
    volumes:
      - ../src/front/:/app/src/front/
      - node_modules:/app/node_modules
    depends_on:
      - backend
    networks:
      - app-network
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "3000"]

      

volumes:
  postgres_data:
  node_modules:
  migrations:

networks:
  app-network:
    driver: bridge